.bg-movie-card {
  text-decoration: none;
  border-radius: 0;
}
.bg-movie-card h5 {
  font-size: 20px;
}
.certification {
  display: inline-block;
  background: #585858;
  border-radius: 50%;
  font-size: 12px;
  vertical-align: middle;
}
app-genres {
  display: inline-block;
  vertical-align: middle;
}
